h1,
h2 { color: black; }

h1.title {
  font-size: 2em;
  color: rgb(45, 62, 79);
}

h3.subtitle { color: rgb(45, 62, 79); }
h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; }

code {
  font-family: Inconsolata, Monaco, Consolas, "Lucida Console", monospace;
  color: rgb(45, 62, 79);
  font-size: 1.02em;
}

pre.r { font-size: 1em; }

/* FIXME why isn't the border-color attribute honored in the Bootstrap theme? */
.outline {
  margin-left: 30px;
  margin-right: 30px;
  background-color: #f8f5ec;
  padding: 10px;
  -webkit-border-radius: 4px solid rgb(55, 123, 181);
  border-radius: 4px solid rgb(55, 123, 181);
}

